doctype html
html
  head
    meta(chartset='UTF-8')
  body
    form(action='upload' method='post' enctype="multipart/form-data" accept-charset="UTF-8")
      input(type='file' name='userfiles' multiple)
      input(type='submit')